/*pages page background*/

.dark .css-mjg0cr {
	background: #000 !important;
}

.dark .blog-header.css-z68fdh {
	background: #000 !important;
}

/* social media */
.css-1liodlt {
	display: none !important;
}

/*search*/

.dark .css-k22lw5 {
	background: #000 !important;
}

/*search results*/

.dark .css-1bhngn6 {
	background: #000 !important;
}

/*profile icon*/

.blog-more-icon.css-9hosh4 {
	display: none;
}

.css-1hk1gfg {
	display: none;
}

/*follow button*/

.blog-follow-button.tooltip-handle.css-1p1by66 {
	display: none;
}

/*newsletter button*/

.blog-newsletter-button.tooltip-handle.css-16dtlk3 {
	display: none;
}

/*sidebar menu*/

.dark .blog-sidebar-header.css-eqclfh {
	background: #000 !important;
}

.dark .css-vca6fi {
	background: #000 !important;
}

/*footer area*/

.blog-footer-area {
	display: none;
}